#header {
    font-weight: bold;
    font-size: 100px;
    font-family: 'Kanit', sans-serif;
    background-color: black;
    text-align: center;
    color: blanchedalmond;
}

.navbar-nav {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

#about {
    font-weight: bold;
    font-size: 75px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.row {
    text-align: center;
    align-content: center;
    font-size: 50px;
}
